<div data-role="m-category" class="m-stylemanager-list-container m-stylemanager-hidden">
  <div class="styles-row">
    <div class="title">{{translations.options}}</div>
    <div class="m-styles-body">
      <div class="m-stylemanager-group-row">
        <div class="m-stylemanager-style-col-1">
          <span>{{translations.attribute}}</span>
        </div>
        <div class="m-stylemanager-between">
          <select data-options="attributeName" class="m-stylemanager-input-size m-stylemanager-style-select">
          </select>
          <button title="{{translations.updateStyles}}" class="m-stylemanager-button-styles"
            data-update-category-style>{{translations.generateSymbology}}</button>
        </div>
      </div>
      <div id="category-labels-row" class="m-stylemanager-group-row" style="margin-top: 10px;">
        <div class="m-stylemanager-style-col-2">
          <span class="m-stylemanager-margin-right">{{translations.labelsByCategory}}</span>
          <input type="checkbox" id="category-labels-toggle" checked data-category-labels-toggle>
        </div>
      </div>
      <div class="container-table" data-options="values"></div>
    </div>
  </div>
</div>