<div data-role="m-cluster" class="m-stylemanager-list-container m-stylemanager-hidden">
    <div class="title">{{translations.ranges}}</div>
    <br>
    <div class="m-stylemanager-group-row">
        <div class="m-stylemanager-style-col-2">
            <div class="m-stylemanager-style-col-1">{{translations.numberOfRanges}}</div>
            <div class="m-stylemanager-style-col-2">
                <input type="number" data-number-ranges value="{{ranges.length}}" min="1" max="12"
                    class="m-stylemanager-input-size m-stylemanager-style-select">
            </div>
        </div>
    </div>
    <div data-parent="ranges">
        {{#each ranges}}
        <div {{#neq @index 0}} class="m-stylemanager-hidden" {{/neq}} data-page="{{#sum @index 1}}{{/sum}}">
            <div class="m-stylemanager-subtitle-section">{{../translations.range}} {{#sum @index 1}}{{/sum}}</div>
            <div class="m-stylemanager-group-row">
                <div class="m-stylemanager-style-col-2">
                    <div class="m-stylemanager-margin-right">
                        <div class="m-stylemanager-style-col-1">{{../translations.from}}</div>
                        <div class="m-stylemanager-style-col-2">
                            <input data-apply-range type="number" min="0" data-ranges-options="minRange"
                                data-ranges-id="{{#sum @index 1}}{{/sum}}" value="{{min}}"
                                class="m-stylemanager-input-size m-stylemanager-style-select">
                        </div>
                    </div>
                    <div class="m-stylemanager-margin-left">
                        <div class="m-stylemanager-style-col-1">{{../translations.to}}</div>
                        <div class="m-stylemanager-style-col-2">
                            <input data-apply-range type="number" min="0" data-ranges-options="maxRange"
                                data-ranges-id="{{#sum @index 1}}{{/sum}}" value="{{max}}"
                                class="m-stylemanager-input-size m-stylemanager-style-select">
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-stylemanager-group-row">
                <div class="m-stylemanager-style-col-1">{{../translations.fill}}</div>
                <div class="m-stylemanager-style-col-2">
                    <input data-apply-range value="{{fill}}" type="color" data-ranges-options="style.fill.color"
                        data-ranges-id="{{#sum @index 1}}{{/sum}}" class="m-stylemanager-input-size">
                </div>
            </div>
            <div class="m-stylemanager-group-row">
                <div class="m-stylemanager-style-col-1">{{../translations.opacity}}</div>
                <div class="m-stylemanager-style-col-2">
                    <input data-apply-range type="range" class="m-stylemanager-input-size m-stylemanager-range-opacity"
                        value="{{opacity}}" min="0" step="0.01" max="1" data-ranges-options="style.fill.opacity"
                        data-ranges-id="{{#sum @index 1}}{{/sum}}">
                    <input data-apply-range type="number"
                        class="m-stylemanager-number-opacity m-stylemanager-style-select"
                        value="{{multiply opacity 100}}" min="0" max="100" step="1"
                        data-ranges-options="style.fill.opacity" data-ranges-id="{{#sum @index 1}}{{/sum}}">
                </div>
            </div>
            <div class="m-stylemanager-group-row">
                <div class="m-stylemanager-style-col-1">{{../translations.stroke}}</div>
                <div class="m-stylemanager-style-col-2">
                    <input data-apply-range type="color" value="{{stroke}}" data-ranges-options="style.stroke.color"
                        data-ranges-id="{{#sum @index 1}}{{/sum}}" class="m-stylemanager-input-size">
                </div>
            </div>
            <div class="m-stylemanager-group-row">
                <div class="m-stylemanager-style-col-2">
                    <div class="m-stylemanager-margin-right">
                        <div class="m-stylemanager-style-col-1">{{../translations.width}}</div>
                        <div class="m-stylemanager-style-col-2">
                            <input data-apply-range value="{{width}}" type="number" min="1"
                                data-ranges-options="style.stroke.width" data-ranges-id="{{#sum @index 1}}{{/sum}}"
                                class="m-stylemanager-input-size m-stylemanager-style-select">
                        </div>
                    </div>
                    <div class="m-stylemanager-margin-left">
                        <div class="m-stylemanager-style-col-1">{{../translations.radius}}</div>
                        <div class="m-stylemanager-style-col-2"> <input data-apply-range
                                value="{{#if radius}}{{radius}}{{/if}}{{#unless radius}}10{{/unless}}" type="number"
                                min="1" data-ranges-options="style.radius" data-ranges-id="{{#sum @index 1}}{{/sum}}"
                                class="m-stylemanager-input-size m-stylemanager-style-select">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}} {{#pages}}
        <div class="m-stylemanager-hidden" data-page="{{id}}">
            <div class="m-stylemanager-subtitle-section">{{../translations.range}} {{id}}</div>
            <div class="m-stylemanager-group-row">
                <div class="m-stylemanager-style-col-2">
                    <div class="m-stylemanager-margin-right">
                        <div class="m-stylemanager-style-col-1">{{../translations.from}}</div>
                        <div class="m-stylemanager-style-col-2">
                            <input value="{{min}}" type="number" min="0" data-ranges-options="minRange"
                                data-ranges-id="{{id}}" class="m-stylemanager-input-size m-stylemanager-style-select">
                        </div>
                    </div>
                    <div class="m-stylemanager-margin-left">
                        <div class="m-stylemanager-style-col-1">{{../translations.to}}</div>
                        <div class="m-stylemanager-style-col-2">
                            <input value="{{max}}" type="number" min="0" data-ranges-options="maxRange"
                                data-ranges-id="{{id}}" class="m-stylemanager-input-size m-stylemanager-style-select">
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-stylemanager-group-row">
                <div class="m-stylemanager-style-col-1">{{../translations.fill}}</div>
                <div class="m-stylemanager-style-col-2">
                    <input type="color" value="{{fill}}" data-ranges-options="style.fill.color" data-ranges-id="{{id}}"
                        class="m-stylemanager-input-size">
                </div>
            </div>
            <div class="m-stylemanager-group-row">
                <div class="m-stylemanager-style-col-1">{{../translations.opacity}}</div>
                <div class="m-stylemanager-style-col-2">
                    <input value="{{style.fill.opacity}}" data-style-options="style.fill.opacity" type="range"
                        class="m-stylemanager-input-size m-stylemanager-range-opacity" min="0" step="0.01" max="1">
                    <input value="multiply style.fill.opacity 100" step="0.1" type="number" min="0"
                        data-ranges-options="style.fill.opacity" data-ranges-id="{{id}}"
                        class="m-stylemanager-number-opacity m-stylemanager-style-select">
                </div>
            </div>
            <div class="m-stylemanager-group-row">
                <div class="m-stylemanager-style-col-1">{{../translations.stroke}}</div>
                <div class="m-stylemanager-style-col-2">
                    <input type="color" value="{{stroke}}" data-ranges-options="style.stroke.color"
                        data-ranges-id="{{id}}" class="m-stylemanager-input-size">
                </div>
            </div>
            <div class="m-stylemanager-group-row">
                <div class="m-stylemanager-style-col-2">
                    <div class="m-stylemanager-margin-right">
                        <div class="m-stylemanager-style-col-1">{{../translations.width}}</div>
                        <div class="m-stylemanager-style-col-2">
                            <input value="2" type="number" min="1" data-ranges-options="style.stroke.width"
                                data-ranges-id="{{id}}" class="m-stylemanager-input-size m-stylemanager-style-select">
                        </div>
                    </div>
                    <div class="m-stylemanager-margin-left">
                        <div class="m-stylemanager-style-col-1">{{../translations.radius}}</div>
                        <div class="m-stylemanager-style-col-2">
                            <input value="10" type="number" min="1" data-ranges-options="style.radius"
                                data-ranges-id="{{id}}" class="m-stylemanager-input-size m-stylemanager-style-select">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/pages}}
    </div>
    <div class="m-stylemanager-pagination" data-parent-pagination>
        <ul class="m-stylemanager-ul-style">
            {{#each ranges}}
            <li data-page-selector="{{#sum @index 1}}{{/sum}}" {{#eq @index 0}} data-page-active
                class="m-stylemanager-page-active" {{/eq}}>{{#sum @index 1}}{{/sum}}</li>
            {{/each}} {{#each pages}}
            <li data-page-selector="{{id}}" class="m-stylemanager-hidden">{{id}}</li>
            {{/each}}

        </ul>
    </div>
    <div class="styles-row" data-id="options">
        <div class="title">{{translations.options}}</div>
        <div class="m-stylemanager-group-row">
            <div class="m-stylemanager-style-col-2">
                <div style="width: 50%;">
                    <div class=" m-stylemanager-style-col-1">
                        <input type="checkbox" data-style-options="hoveInteraction" {{#if
                            hoverInteraction}}checked{{/if}}>{{translations.envelope}}
                    </div>
                    <div class="m-stylemanager-style-col-2">
                        <input type="checkbox" data-style-options="displayAmount" {{#if
                            displayAmount}}checked{{/if}}>{{translations.amount}}
                    </div>
                </div>
                <div style="width: 50%;">
                    <div class="m-stylemanager-style-col-1">
                        <input type="checkbox" data-style-options="selectInteraction" {{#if
                            selectInteraction}}checked{{/if}}>{{translations.selectable}}
                    </div>
                    <div class="m-stylemanager-style-col-2">
                        <input type="checkbox" data-style-options="animated" {{#if
                            animated}}checked{{/if}}>{{translations.animated}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-stylemanager-group-row">
        <div class="m-stylemanager-style-col-1">{{translations.distance}}</div>
        <div class="m-stylemanager-style-col-2">
            <input type="number" min="1" data-style-options="distance" value="{{distance}}"
                class="m-stylemanager-input-size m-stylemanager-style-select">
        </div>
    </div>
    <div class="m-stylemanager-group-row">
        <div class="m-stylemanager-style-col-1">{{translations.points}}</div>
        <div class="m-stylemanager-style-col-2">
            <input type="number" min="1" data-style-options="maxFeaturesToSelect" value="{{maxFeaturesToSelect}}"
                class="m-stylemanager-input-size m-stylemanager-style-select">
        </div>
    </div>
    <div class="m-stylemanager-group-row">
        <div class="m-stylemanager-style-col-1">{{translations.fanDistance}}</div>
        <div class="m-stylemanager-style-col-2">
            <input type="number" min="1" data-style-options="distanceSelectFeatures" value="{{distanceSelectFeatures}}"
                class="m-stylemanager-input-size m-stylemanager-style-select">
        </div>
    </div>
    <div class="m-stylemanager-group-row">
        <div class="m-stylemanager-style-col-1">{{translations.textColor}}</div>
        <div class="m-stylemanager-style-col-2">
            <input type="color" data-style-options="label.color" value="{{label.color}}"
                class="m-stylemanager-input-size">
        </div>
    </div>
</div>
</div>