<div class="m-stylemanager-container">
  <div class="title">
    <select id="m-stylemanager-select" class="m-stylemanager-container-select-layer">
      <option disabled="disabled" selected="selected">{{translations.selectLayer}}</option>
      {{#each layers}}
      <option name={{this.name}}>{{this.name}}</option>
      {{/each}}
    </select>

    <button title="Aplicar estilo" class="m-stylemanager-button-styles" data-apply-style>{{translations.apply}}</button>
    <button title="Limpiar estilo" class="m-stylemanager-button-styles" data-clear-style>{{translations.clear}}</button>
  </div>
  <div id="m-stylemanager-container-options">
    <div class="m-stylemanager-container-content m-stylemanager-hidden">
      <div class="m-stylemanager-general-list">
        <div class="m-stylemanager-container-symbology" data-role="botonera">
          <div class="m-stylemanager-displayrow">
            <button id="m-stylemanager-symbology" class="m-stylemanager-button-default">
              <i class="icon m-stylemanager-icons-up-open" id="m-stylemanager-arrow-list">
              </i>
              <i class="icon m-stylemanager-icons m-stylemanager-icons-brush">
              </i>{{translations.symbology}}</button>
          </div>

          <ul id="m-stylemanager-symbology-list" data-buttons-option class="m-stylemanager-hidden" data-role="botonera">
            <li class="m-stylemanager-displayrow selected" data-flap="stylesymbol">
              <input type="checkbox" class="m-stylemanager-checkbox" data-checkbox="stylesymbol">
              <i class="icon m-stylemanager-icons icon m-stylemanager-icons-simple">
              </i>{{translations.symbologysymbol}}
            </li>
            <li class="m-stylemanager-displayrow" data-flap="stylecategory">
              <input type="checkbox" class="m-stylemanager-checkbox" data-checkbox="stylecategory">
              <i class="icon m-stylemanager-icons icon m-stylemanager-icons-category">
              </i>{{translations.symbologycategory}}
            </li>
            <li class="m-stylemanager-displayrow" data-flap="stylechoropleth">
              <input type="checkbox" class="m-stylemanager-checkbox" data-checkbox="stylechoropleth">
              <i class="icon m-stylemanager-icons icon m-stylemanager-icons-choro">
              </i>{{translations.symbologychoropleths}}
            </li>
            <li class="m-stylemanager-displayrow" data-flap="styleproportional">
              <input type="checkbox" class="m-stylemanager-checkbox" data-checkbox="styleproportional">
              <i class="icon m-stylemanager-icons icon m-stylemanager-icons-proportional">
              </i>{{translations.symbologyproportional}}
            </li>
            <li class="m-stylemanager-displayrow" data-flap="stylecluster">
              <input type="checkbox" class="m-stylemanager-checkbox" data-checkbox="stylecluster">
              <i class="icon m-stylemanager-icons icon m-stylemanager-icons-cluster">
              </i>{{translations.symbologycluster}}
            </li>
            <li class="m-stylemanager-displayrow" data-flap="styleheatmap">
              <input type="checkbox" class="m-stylemanager-checkbox" data-checkbox="styleheatmap">
              <i class="icon m-stylemanager-icons icon m-stylemanager-icons-heatmap">
              </i>{{translations.symbologyheatmap}}
            </li>
          </ul>
        </div>
        <div data-role="botonera">
          <div class="m-stylemanager-displayrow m-stylemanager-section-enabled width-selected" data-flap="stylelabel">
            <input type="checkbox" class="m-stylemanager-checkbox" data-checkbox="stylelabel">
            <i class="icon m-stylemanager-icons icon m-stylemanager-icons-comment">
            </i>
            <button id="" class="m-stylemanager-button-default">{{translations.label}}</button>
          </div>
        </div>
        <div data-role="botonera">
          <div class="m-stylemanager-displayrow m-stylemanager-section-enabled width-selected" data-flap="stylechart">
            <input type="checkbox" class="m-stylemanager-checkbox" data-checkbox="stylechart">
            <i class="icon m-stylemanager-icons icon m-stylemanager-icons-chart">
            </i>
            <button id="" class="m-stylemanager-button-default">{{translations.statistical}}</button>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>