<div class="m-stylemanager-list-container m-stylemanager-hidden">
    <div class="title">{{translations.options}}</div>
    <br>
    <div class="m-stylemanager-group-row">
        <div class="m-stylemanager-style-col-1">{{translations.attribute}}</div>
        <div class="m-stylemanager-style-col-2">
            <select data-options="attributeName" class="m-stylemanager-input-size m-stylemanager-style-select">
                {{#each attributes}}
                <option value="{{this.name}}" {{#eq this.name this.selected}}selected{{/eq}}>{{this.name}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <div class="m-stylemanager-group-row">
        <div class="m-stylemanager-style-col-1">{{translations.minimumRadius}}</div>
        <div class="m-stylemanager-style-col-2">
            <input type="number" min="1" data-options="minRadius" value="{{minRadius}}"
                class="m-stylemanager-input-size m-stylemanager-style-select">
        </div>
    </div>
    <div class="m-stylemanager-group-row">
        <div class="m-stylemanager-style-col-1">{{translations.maximumRadius}}</div>
        <div class="m-stylemanager-style-col-2">
            <input type="number" min="1" data-options="maxRadius" value="{{maxRadius}}"
                class="m-stylemanager-input-size m-stylemanager-style-select">
        </div>
    </div>
</div>